.items-body-content {
    padding: 10px 0px 10px 10px;
    display: grid;
    grid-template-columns: [col1-start] 15fr [col1-end col2-start] 1fr;
    grid-column-gap: 10px;
    border: 1px black solid;
    margin-bottom: 10px;
    cursor: pointer; 
    background-color: #0A1612;
    color: #FFFFFF;
}

.items-body-icon {
    color: #FF3B3F;
}