.b-route-symbol {
    background: #077d0f;
    color: white;
    border-radius: 50%;
    width: 25px;
    line-height: 25px;
    text-align: center;
}

.c-route-symbol {
    background: #7a0033;
    color: white;
    border-radius: 50%;
    width: 25px;
    line-height: 25px;
    text-align: center;
}

.d-route-symbol {
    background: #005dc7;
    color: white;
    border-radius: 50%;
    width: 25px;
    line-height: 25px;
    text-align: center;
}

.e-route-symbol {
    background: #ffa600;
    color: white;
    border-radius: 50%;
    width: 25px;
    line-height: 25px;
    text-align: center;
}